.text-about,
.small-img,
.wrapper-img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.text-about,
.wrapper-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 59.75rem;
}
.wrapper-img {
  display: flex;
  margin-bottom: 100px;
}
.big-img img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 240px;
}

.small-img {
  width: 600px;
}

/* .small-img img:not(:last-child) {margin-bottom: 20px;} */

@media only screen and (min-width: 600px) {
  .small-img {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 240px 240px;
  }

  .big-img img {width: 420px;}

}
