.text-about,
.small-img,
.wrapper-img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.text-about,
.wrapper-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 1020px;
}
.wrapper-img {
  display: flex;
  margin-bottom: 50px;
}
.big-img  {margin-bottom: 20px;}

.small-img img:not(:last-child){
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .small-img {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 240px 240px;
  }
  .small-img img:not(:last-child){
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .wrapper-img {
    align-items: flex-start;
    flex-direction: row;
  }
  .big-img {margin: 0 20px 0 0;}
}
