* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  scroll-behavior: smooth;
}
/* HELPER CLASS */
.center-text {text-align: center;}

.container {padding: 100px 20px;}

.resp-img {
  height: 100%;
  width: 100%;
}

/* MAIN */
.nav-item,
.footer-list {list-style: none;}

/* HEADER */
.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.m-nav-link {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.nav-item:not(:last-child) {margin-right: 20px;}

.m-nav-link:hover {text-decoration: underline;}

.section-header {margin-bottom: 50px;}

.section-header h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}
.section-header p {}

/* CARD STRUCTURE */
.card-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1068px;
  padding: 3.125rem 15px;
  width: 100%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 242px;
}

.card:not(:last-child) {margin-bottom: 25px;}

.nome-prod {
  font-weight: 700;
  margin: 10px 0;
  text-transform: uppercase;
}

.preco-prod {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.link-prod {
  color: #111;
  text-decoration: none;
}

/* BTN SUBMIT */

.btn-submit {
  background: #00cc66;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 0 12px;
  transition: ease .7s;
  text-transform: uppercase;
}
.btn-submit:hover {
  background: #00994d;
}


/* FOOTER */
.footer {
  background-color: #484848;
  color: #fff;
  padding: 3.125rem;
}

.wrapper-footer-lists {
  display: flex;
  flex-direction: column;
  margin: 0 auto 6.25rem;
  max-width: 1100px;
}

.footer-list {text-align: center;}

.footer-list:not(:last-child) {margin-bottom: 80px;}

.footer-list h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-icons li {display: inline;}

.social-icons li:not(:last-child) {margin-right: 20px;}

.f-link {
  color: #fff;
  text-decoration: none;
}

.f-link:hover {text-decoration: underline;}
.copyright {font-size: .875rem;}

.copyright a {
  text-decoration: none;
  color: #fff;
}
.copyright a:hover {text-decoration: underline;}

.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal-content {
  background: #fff;
  border-radius: 5px;
  color: #111;
  max-width: 750px;
  padding: 50px;
}

.modal-content h3 {
  font-size: 1.5 rem;
  margin-bottom: 20px;
}

.modal-content ul li:not(:last-child) {margin-bottom: 20px;}

.close-modal {
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  font-weight: bolder;
  justify-content: flex-end;
}

.troca {margin-bottom: 100px;}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  .wrapper-footer-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-list {text-align: left;}
}
@media only screen and (min-width: 576px) {
  .card-wrapper {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
